.form {
  // background-color: red;
  margin: 0 auto;
  max-width: 20rem;
  width: 100%;

  &__submitBtn {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background-color: blue;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}

.inputContainer {
  margin-bottom: 5px;
}